body{
    background-color: ghostwhite;
}
/* navbar */
.navbar-brand{
    color: white !important;
}
/* end navbar */

/* full-content */

.read{
    padding: 20px;
    opacity: 0.8;
    background-color:white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.read h4{
    font-size: 26px;
    font-weight: bold;
}

.read-body .prg{
    padding-left:4em;
}
.read-body .table{
    width: 80%;
}
/* end fullcontent */
/* Responsive */
@media (min-width:992px){

    /* navbar */
    .navbar-brand{
        text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    }

}
/* endresponsive */